In [ ]:
Create NumPy arrays for a week of temperature data.

In [1]:
import numpy as np

temperatures = np.array([23.4,23.1])
print(f"Weekly Temperatures: {temperatures}")

Weekly Temperatures: [23.4 23.1]

In [ ]:
Compute mean and standard deviation with np.mean, np.std.

In [3]:
import numpy as np

week_temps = np.array([22.4, 25.1, 19.8, 17.5, 23.6, 20.9, 21.2])

mean = np.mean(week_temps)
std = np.std(week_temps)

print(f"Mean : {mean}")
print(f"STD : {std}")

Mean : 21.5
STD : 2.3151673805580453

In [ ]:
City Temperature Analysis. Compare the mean temperature of two cities using NumPy arrays.

In [11]:
import numpy as np
pune = np.array([22.4, 25.1, 19.8, 17.5, 23.6, 20.9, 21.2])
hzb = np.array([18.3, 20.8, 21.5, 19.7, 22.0, 23.5, 20.1])

pune_mean = np.mean(pune)
hzb_mean = np.mean(hzb)

print("Pune mean temeprature", pune_mean)
print("Hzb mean temperature", hzb_mean)

if(pune_mean > hzb_mean):
    print("Pune city is warmer on average this week")
elif (hzb_mean > pune_mean):
    print("Hzb city is  warmer on average this week")
else:
    print("Both cities had the same weekly average temperature")

Pune mean temeprature 21.5
Hzb mean temperature 20.842857142857145
Pune city is warmer on average this week

In [ ]:
Create a NumPy array with values from 0 to 9

In [5]:
import numpy as np
arr = np.arange(4,11)
print(arr)

[ 4  5  6  7  8  9 10]

In [ ]:
Create a 3x3 array of all True values

In [12]:
arr = np.full((3,3), True, dtype=bool)
print(arr)

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

In [ ]:
Convert a Python list [1,2,3,4] to a NumPy array

In [13]:
list = [1,2,3,4]
arr = np.array(list)
print(arr)

[1 2 3 4]